$grid-width-narrow: 480px;
$grid-width-medium: 768px;
$grid-width-wide: 992px;

.grid {
  @media only screen and (min-width: $grid-width-narrow) {
    width: $grid-width-narrow;
  }
  @media only screen and (min-width: $grid-width-medium) {
    width: $grid-width-medium;
  }
  @media only screen and (min-width: $grid-width-wide) {
    width: $grid-width-wide;
  }

  .row {
    clear: both;
    width: 100%;

    /* span1 - span10 */
    $grid-spacing: 16px; // must be an even number
    $grid-padding: 10px;
    $grid-spans: 8;

    @for $i from 1 through $grid-spans {
      .span#{$i} {
        float: left;
        margin: $grid-spacing $grid-spacing/2 0 $grid-spacing/2;
        padding: $grid-padding;
        width: $grid-width-wide/($grid-spans/$i) - $grid-spacing - $grid-padding*2;
      }
    }
  }
}
